.navbar {
  width: 90%;
  height: 4rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Mulish';
}
#logo {
  font-size: 1.55m;
  font-weight: 700;
}
.nav-links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: large;
  color: #ff0000;
  margin-right: auto;
  margin-left: 2rem;
}
.nav-links p {
  text-decoration: none;
  color: rgb(49, 49, 49);
  font-size: 0.9rem;
  font-weight: 500;
}
.dropdown-items {
  text-decoration: none;
  color: rgb(79, 79, 79);
  font-size: 1rem;
  font-family: "Mulish";
}
.nav-btn {
  font-family: "Mulish";
  text-decoration: none;
  color: rgb(79, 79, 79);
  font-size: 1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-weight: 500;
}
.d-flex > li {
  list-style: none;
}
.main {
  display: flex;
  justify-content: space-between;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav p {
  position: relative;
  text-decoration: none;
  color: #525252;
  font-size: 2rem;
  padding: 0 10px;
}
nav p:after {
  content: "";
  position: absolute;
  background-color: #ff3c78;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -7px;
  transition: 0.3s;
}
nav p:hover {
  color: black;
}
nav p:hover:after {
  width: 100%;
}
.about {
  padding-left: 3px;
}
