.d-flex > li{
    list-style: none;
}

.navbar{
    width: 90%;
    height: 4rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo {
    font-size: 1.55m;
    font-weight: 700;
}
.nav-links{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: large;
    color: #ff0000;
    
}
.nav-links a{
    text-decoration: none;
    color: rgb(79, 79, 79);
    font-size: 1rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-weight: 500;
}
.dropdown-items{
    text-decoration: none;
    color: rgb(79, 79, 79);
    font-size: 1rem;
    
}
.nav-btn{
    font-family: "Mulish";
    text-decoration: none;
    color: rgb(79, 79, 79);
    font-size: 1rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-weight: 500;
}