.alert {
    padding: 1em;
    
  }
  
  .alert-success {
    background-color: #d4edda;
    color: #155724;
  }
  
  .alert-error {
    background-color: #f8d7da;
    color: #721c24;
  }
  
  .dismiss-btn {
    position: absolute;
    right: 20px;
    top: 10px;
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
  }
  